
<ion-content style="--background:url(https://images.pexels.com/photos/1558916/pexels-photo-1558916.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);"
 [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="--background:linear-gradient(to right, red, yellow, white, blue); text-align: center;">
      <ion-title size="large" style="text-align: center; color: red;">FIRE on ICE</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div style="text-align: center;">
        <ion-button href="/register" shape="round" color="success" style="width:250px;">Register</ion-button><br><br>
        <ion-button href="/login" shape="round" color="warning" style="width:250px;">Login</ion-button><br>
      </div>
<br><br>
<div style="text-align: center;">
  <ion-button href="/shopping" shape="round" color="secondary" style="width:250px;">Shopping</ion-button><br>
 </div>
 <br><br><br><br>

 <div style="text-align: center;">
  <ion-button href="/todo" shape="round" color="danger" style="width:250px;">TODO</ion-button><br>
 </div>
    <!-- <div class="container">
      <div  shape="round" style="text-align: center; size: 100px; background-color: red;width: 250px; justify-content: center; margin-left: 15%;">
        <br><br>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-youtube"></ion-icon>
        <ion-icon name="mail-open-outline"></ion-icon>
        <ion-icon name="call-outline"></ion-icon>
       </div>
    </div> -->
     
</ion-content>
